
<form id='form_login'>

    <h1><small>Connexion à OpenStreetMap</small></h1>
    <br />



   
    
         <md-input-container flex>
          <label>Adresse e-mail ou nom d'utilisateur</label>
          <input spellcheck="false" ng-model="user" autofocus >
        </md-input-container>
    
          <md-input-container flex>
          <label>Password</label>
          <input type="password" spellcheck="false" ng-model="password"  >
        </md-input-container>
        
   
    <br />

    <!--serveur de prod ou de test-->
 <md-switch ng-model="switch_server" class="md-primary" aria-label="Choix du serveur">
    Serveur : {{server}}
  </md-switch>


<div class="form-group">

    <md-button class="md-raised md-primary" ng-click="connexion()">Se connecter</md-button>
</div>

<div id="login_error" class="alert alert-danger" role="alert" ng-show="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Nom d'utilisateur ou mot de passe invalide
</div>

</form>





