
<form id='form_login'>

    <h1><small>Connexion à OpenStreetMap</small></h1>
    <br />


         <md-input-container flex class="width100">
          <label>Adresse e-mail ou nom d'utilisateur</label>
          <input spellcheck="false" ng-model="user" autofocus >
        </md-input-container>
    
          <md-input-container flex class="width100">
          <label>Password</label>
          <input type="password" spellcheck="false" ng-model="password"  >
        </md-input-container>
        
   
    <br />

    <!--serveur de prod ou de test-->
 <md-switch ng-model="switch_server" class="md-primary" aria-label="Choix du serveur">
    Serveur : {{server}}
  </md-switch>


<div class="form-group">

    <md-button class="md-raised md-primary" ng-click="connexion()">Se connecter</md-button>
</div>

<div class="alert-danger" ng-show="alert" style="padding:20px;">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>Erreur:</strong>
    {{error_text}} 
</div>

</form>





