<md-dialog aria-label="Fiche OSM">
  
        <md-toolbar>
            <div class="md-toolbar-tools">   
                <h2 ng-show = "!editable"   ng-model="geojson.properties.tags.name">  {{geojson.properties.tags.name && geojson.properties.tags.name !='' ? geojson.properties.tags.name : "Sans nom"}}</h2>
                <md-input-container flex ng-show = "editable">
                    <label>Nom</label>
                    <input ng-model="geojson.properties.tags.name">
                </md-input-container>


            </div>
        </md-toolbar>

        <md-dialog-content>
            <!--        <div style="width:100%;heigth:100%">           -->
            <p class="last_edition" ng-show="type_action != 'W'">
                Modifié le : {{geojson.properties.meta.timestamp | date:'dd/MM/yyyy HH:mm'}} V:{{geojson.properties.meta.version}} 
                <br> Par : {{geojson.properties.meta.user}}
            </p>



            <!--MODE-->
            <div>
                <md-list>

                    <!--Clé principale-->
                    <md-list-item >
                        <!--editable-->
                        <div ng-if="editable" class="editableA">
                            <md-select ng-model="primary_tag.k" ng-Change='onPrimaryKeyChange(primary_tag.k)' >
                                <md-option ng-repeat="(k,v) in all_tags" value="{{k}}">{{v.lbl}}</md-option>
                            </md-select>
                        </div>
                        <div ng-if="editable" class="editableB">
                            <md-select ng-show="!customValueType" ng-model = "geojson.properties.tags[primary_tag.k]" >
                                <md-option ng-repeat="f in all_tags[primary_tag.k].values"  value="{{f.key}}">{{f.lbl}}</md-option>
                            </md-select> 
                            <!--custom tag-->
                            <md-input-container ng-show="customValueType">
                                <input ng-show="customValueType" type="text" ng-model="geojson.properties.tags[primary_tag.k]">
                            </md-input-container>
                        </div>
                        <div ng-if="editable" class="editableC">
                            <i class="fa fa-code fa-2x" style="color:red" ng-click= "activateCustomTag()"></i>
                        </div>

                        <!--Lecture-->
                        <div ng-if="!editable" class="readA">
                            {{all_tags[primary_tag.k].lbl}}
                        </div>
                        <div ng-if="!editable" class="readB">
                            {{ current_primary_key_config.lbl && current_primary_key_config.lbl || geojson.properties.tags[primary_tag.k] }}
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>



                    <!--Tag connus-->
                    <md-list-item ng-repeat="k in list_sub_tag_of_object" ng-if="geojson.properties.tags[k] || editable"> <!--Si y'a pas de valeur, on ne l'affiche pas à la lecture-->
                        <!--Editable-->
                        <div ng-if="editable" class="editableA">
                            <label>{{all_sub_tags[k].lbl}}</label>
                        </div>
                        <div ng-if="editable" class="editableB">
                            <!--SELECT-->
                            <md-select  ng-if = "all_sub_tags[k].type == 'select' && !customValueType" ng-model = "geojson.properties.tags[k]" >
                                <md-option ng-repeat="st in all_sub_tags[k].tags"  value="{{st.v}}">{{st.lbl}}</md-option>
                            </md-select> 
                            <!--NUMBER-->
                            <md-input-container ng-if = "all_sub_tags[k].type == 'number' && !customValueType ">
                                <input type="number" step="any" name="rate" value="{{geojson.properties.tags[k]}}" ng-model = "geojson.properties.tags[k]" >
                            </md-input-container>
                            <!--TEXT-->
                            <md-input-container ng-if = "all_sub_tags[k].type == 'text' && !customValueType">
                                <input ng-model="geojson.properties.tags[k]">
                            </md-input-container>
                            <!--autocomplete-->
                            <md-input-container ng-if = "all_sub_tags[k].type == 'autocomplete' && !customValueType" class="md-input-container-md-dialog-autocomplete">
                                <md-autocomplete class ="md-dialog-md-autocomplete"
                                                 md-selected-item="ModalFicheCtrl.selectedItem[k]" 
                                                 md-search-text="ModalFicheCtrl.searchText[k]" 
                                                 md-items="item in all_sub_tags[k].tags | filter:ModalFicheCtrl.searchText[k]"  
                                                 md-item-text="ModalFicheCtrl.selectedItem[k].lbl"
                                                 md-selected-item-change="change(k)"
                                                 md-select-on-match="false"
                                                 md-min-length="0"
                                                 md-autoselect="true"
                                                 md-autoselect="false"
                                                 ng-init="initAutocomplete(k)">
                                                 <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.lbl}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </md-input-container>
                        
                        <!--custom value! -->
                             <md-input-container ng-if="customValueType">
                               <input ng-model="geojson.properties.tags[k]">
                            </md-input-container>

                    </div>
                <div ng-if="editable" class="editableC">
                    <!--Bouton pour supprimer un tag-->
                    <i class="fa fa-times fa-2x" style="color:red" ng-click= "supTag(k)"></i>
                </div>
                <!--Lecture-->
                <div ng-if="!editable && geojson.properties.tags[k]" class="readA">
                    {{all_sub_tags[k].lbl ? all_sub_tags[k].lbl : k}}
                </div>
                <div ng-if="!editable && geojson.properties.tags[k]" class="readB">
                    {{findSubTagLabel(k,geojson.properties.tags[k])}}
                </div>
                <md-divider></md-divider>
                </md-list-item>



            <!--LE RESTE DES TAGS-->
            <md-list-item ng-repeat="(k ,v ) in geojson.properties.tags" ng-if="tag_hidden.indexOf(k) == -1 && k != primary_tag.k && list_sub_tag_of_object.indexOf(k) == -1 ">
                <!--editable-->
                <div ng-if="editable" class="editableA">
                    <label>{{k}}</label>
                </div>
                <div ng-if="editable" class="editableB">
                    <md-input-container>
                        <input ng-model="geojson.properties.tags[k]">
                    </md-input-container>

                </div>
                <div ng-if="editable" class="editableC">
                    <!--Bouton pour supprimer un tag-->
                    <i class="fa fa-times fa-2x" style="color:red" ng-click= "supTag(k)"></i>
                </div>

                <!--lecture-->
                <div ng-if="!editable" class="readA">
                    {{k}}
                </div>
                <div ng-if="!editable" class="readB">
                    {{geojson.properties.tags[k]}}
                </div>
                <md-divider></md-divider>
            </md-list-item>


            <!--LES CHAMPS POUR AJOUTER UN NOUVEAU TAG en edition uniquement-->
            <md-list-item ng-if="editable">
                <div class="editableA">
                    <md-input-container>
                        <label>Clé</label>
                        <input ng-model="newKV.k_add" ng-lowercase>
                    </md-input-container>
                </div>
                <div class="editableB">
                    <md-input-container>
                        <label>Valeur</label>
                        <input ng-model="newKV.v_add">
                    </md-input-container>
                </div>
                <div class="editableC">
                    <!--Bouton pour ajouter un tag-->
                    <i class="fa fa-plus-circle fa-2x" ng-click="addTag()" style="color:green;" ></i>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            </md-list>
        </div>

    </md-dialog-content>


<div class="md-actions" layout="row">
    <span flex></span>


    <md-button ng-show = "!editable" type="button" class="md-button md-primary " ng-click='showEditable()' style="position:absolute; left:0px; bottom:0px;" >
        <md-icon md-svg-src = 'images/SVG/pencil-square-o.svg' style="font:bold;width:30px;height:30px;"></md-icon>
    </md-button>

    <md-button ng-show="editable && !sw_delete" class="md-raised md-primary" ng-click="ok(geojson)">OK</md-button>
    <md-button ng-show="!sw_delete" class="md-raised" ng-class="editable ? 'md-warn' :'md-primary' " ng-click="cancel()">  {{editable ? 'Annuler' : 'Fermer'}}</md-button>

    <md-switch ng-show="editable && type_action != 'W'" class="md-warn" ng-model="sw_delete" aria-label="Supression de l'objet">
        {{sw_delete ? 'Annuler' : 'Supprimer?'}}

    </md-switch>
    <md-button ng-show="editable && sw_delete" class="md-raised  md-warn" ng-click="deleteElement(geojson)">Supprimer!</md-button>


</div>

</md-dialog>