<md-dialog aria-label="Fiche OSM" style="min-height:85%" >

    <!--SIDENAV TYPE TAG-->
    <md-sidenav md-component-id="TypeTag" md-is-open="TypeTagIsOpen" class="md-sidenav-right">
        <md-toolbar class="md-toolbar-tools toolbar-TypeTag">
            <md-input-container class="filtre-TypeTag">
                <label>Filtrer</label>
                <input ng-model="query" ng-model-options='{ debounce: 300 }'>
            </md-input-container>
            <md-button ng-click="closeSnTypeTag()" class="md-raised md-warn"> Fermer </md-button>
        </md-toolbar>

        <div class="content_TypeTag" ng-if="TypeTagIsOpen">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="tag in all_tags[primary_tag.k].values | filter:search" ng-click="tagSelected(primary_tag.k, tag)">
                    <div class="md-list-item-text">
                        <h3>{{ tag.lbl }}</h3>
                        <h4>{{ tag.key }}</h4>
                        <p>{{tag.lbl_alt}}</p>
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>

            </md-list> 
        </div>
    </md-sidenav>
    
        <!--SIDENAV SIDENAV SELECT-->
    <md-sidenav md-component-id="SNselect" md-is-open="SNselectIsOpen" class="md-sidenav-right">
        <md-toolbar class="md-toolbar-tools toolbar-TypeTag">
            <md-input-container class="filtre-TypeTag">
                <label>Filtrer</label>
                <input ng-model="search_SNselect">
            </md-input-container>
            <md-button ng-click="closeSnSelect()" class="md-raised md-warn"> Fermer </md-button>
        </md-toolbar>

        <div class="content_TypeTag" ng-if="SNselectIsOpen">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="tag in all_sub_tags[curent_subtage_type].tags | filter:search_SNselect" ng-click="tagSNselectSelected(curent_subtage_type, tag)">
                    <div class="md-list-item-text">
                        <h3>{{ tag.lbl }}</h3>
                        <h4>{{ tag.v }}</h4>
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>

            </md-list> 
        </div>
    </md-sidenav>
    


    <md-toolbar>
        <div class="md-toolbar-tools">   
            <h2 ng-show = "!editable"   ng-model="geojson.properties.tags.name">  {{geojson.properties.tags.name && geojson.properties.tags.name !='' ? geojson.properties.tags.name : "Sans nom"}}</h2>
            <md-input-container class="padding0 color-white" flex ng-show = "editable">
                <label>Nom</label>
                <input ng-model="geojson.properties.tags.name">
            </md-input-container>

        </div>
    </md-toolbar>


   
    <md-dialog-content>
  
        
        <p class="last_edition" ng-show="type_action != 'W'">
            Modifié le : {{geojson.properties.meta.timestamp | date:'dd/MM/yyyy HH:mm'}} V:{{geojson.properties.meta.version}}  
            <br> Par : {{geojson.properties.meta.user}}
            <i ng-if="editable" class="fa fa-code fa-2x" style="position: absolute;top: 0;right: 0;"  ng-click= "activateCustomTag()"></i>
        </p>
  
          <div class="alert alert-warning" ng-show="current_primary_key_config.alert != ''" style="position:relative;">
    {{current_primary_key_config.alert}}
     </div>    

        <div class="dialog-content-div">
            <md-list>

                <!--Clé principale-->
                <md-list-item >
                    <!--editable-->
                    <div ng-if="editable" class="editableA">
                        <md-select ng-model="primary_tag.k" ng-Change='onPrimaryKeyChange(primary_tag.k)' >
                            <md-option ng-repeat="(k,v) in all_tags" ng-show="v.display" value="{{k}}">{{(!customValueType) ? v.lbl : k }}</md-option>
                        </md-select>
                    </div>
                    <div ng-if="editable" class="editableB">
<!--                        <md-button ng-show="!customValueType" ng-click="openSnTypeTag()" class="md-primary"> {{ current_primary_key_config.lbl && current_primary_key_config.lbl || geojson.properties.tags[primary_tag.k] }} </md-button>-->
<!--                       <strong ng-show="!customValueType">{{ current_primary_key_config.lbl && current_primary_key_config.lbl || geojson.properties.tags[primary_tag.k] }}</strong>-->
                     <md-list-item ng-show="!customValueType" class="md-no-style md-button padding0 margin0" ng-click="openSnTypeTag()"> <strong>{{ current_primary_key_config.lbl && current_primary_key_config.lbl || geojson.properties.tags[primary_tag.k] }} <i class="fa fa-cog"> </i></strong></md-list-item>

                        <!--custom tag-->
                        <md-input-container class="padding0" ng-show="customValueType">
                            <input ng-show="customValueType" type="text" ng-model="geojson.properties.tags[primary_tag.k]">
                        </md-input-container>
                    </div>

                    <!--Lecture-->
                    <div ng-if="!editable" class="readA">
                        {{all_tags[primary_tag.k].lbl}}
                    </div>
                    <div ng-if="!editable" class="readB">
                        {{ current_primary_key_config.lbl && current_primary_key_config.lbl || geojson.properties.tags[primary_tag.k] }}
                    </div>
                    <md-divider></md-divider>
                </md-list-item>



                <!--Tag connus-->
                <md-list-item ng-repeat="k in list_sub_tag_of_object" ng-if="geojson.properties.tags[k] || editable"> <!--Si y'a pas de valeur, on ne l'affiche pas à la lecture-->
                    <!--Editable-->
                    <div ng-if="editable" class="editableA">
                        <label>{{(!customValueType) ? all_sub_tags[k].lbl : k}}</label>
                    </div>
                    <div ng-if="editable" class="editableB">
                        <!--SELECT-->
                        <md-select  ng-if = "all_sub_tags[k].type == 'select' && !customValueType" ng-model = "geojson.properties.tags[k]" >
                            <md-option ng-repeat="st in all_sub_tags[k].tags"  value="{{st.v}}">{{st.lbl}}</md-option>
                        </md-select> 
                        <!--NUMBER-->
                        <md-input-container class="padding0" ng-if = "all_sub_tags[k].type == 'number' && !customValueType ">
                            <input type="number" step="any" name="rate" value="{{geojson.properties.tags[k]}}" ng-model = "geojson.properties.tags[k]" >
                        </md-input-container>
                        <!--TEXT-->
                        <md-input-container class="padding0" ng-if = "all_sub_tags[k].type == 'text' && !customValueType">
                            <input ng-model="geojson.properties.tags[k]">
                        </md-input-container>
                        <!--LIST-->
                        <md-input-container ng-if = "all_sub_tags[k].type == 'list' && !customValueType" class="padding0 margin0">
                        <md-list-item class="md-no-style md-button" ng-show="!customValueType" ng-click="openSnSelect(k)"> <strong>{{findSubTagLabel(k,geojson.properties.tags[k])}} <i class="fa fa-cog"> </i></strong></md-list-item>
<!--                         <span ng-show="!customValueType" ng-click="openSnSelect(k)"> {{findSubTagLabel(k,geojson.properties.tags[k])}}  <i class="fa fa-code fa-2x"></i> </span>-->
<!--                          <md-button ng-show="!customValueType" ng-click="openSnSelect(k)" class="md-primary"> {{findSubTagLabel(k,geojson.properties.tags[k])}} </md-button>-->
                        </md-input-container>

                        <!--custom value! -->
                        <md-input-container class="padding0" ng-if="customValueType">
                            <input ng-model="geojson.properties.tags[k]">
                        </md-input-container>

                    </div>
                    <div ng-if="editable" class="editableC">
                        <!--Bouton pour supprimer un tag-->
                        <i class="fa fa-times fa-2x" style="color:red" ng-click= "supTag(k)"></i>
                    </div>
                    <!--Lecture-->
                    <div ng-if="!editable && geojson.properties.tags[k]" class="readA">
                        {{all_sub_tags[k].lbl ? all_sub_tags[k].lbl : k}}
                    </div>
                    <div ng-if="!editable && geojson.properties.tags[k]" class="readB">
                        {{findSubTagLabel(k,geojson.properties.tags[k])}}
                    </div>
                    <md-divider></md-divider>
                </md-list-item>



                <!--LE RESTE DES TAGS-->
                <md-list-item ng-repeat="(k ,v ) in geojson.properties.tags" ng-if="tag_hidden.indexOf(k) == -1 && k != primary_tag.k && list_sub_tag_of_object.indexOf(k) == -1 ">
                    <!--editable-->
                    <div ng-if="editable" class="editableA">
                        <label>{{k}}</label>
                    </div>
                    <div ng-if="editable" class="editableB">
                        <md-input-container class="padding0">
                            <input ng-model="geojson.properties.tags[k]">
                        </md-input-container>

                    </div>
                    <div ng-if="editable" class="editableC">
                        <!--Bouton pour supprimer un tag-->
                        <i class="fa fa-times fa-2x" style="color:red" ng-click= "supTag(k)"></i>
                    </div>

                    <!--lecture-->
                    <div ng-if="!editable" class="readA">
                        {{k}}
                    </div>
                    <div ng-if="!editable" class="readB">
                        {{geojson.properties.tags[k]}}
                    </div>
                    <md-divider></md-divider>
                </md-list-item>


                <!--LES CHAMPS POUR AJOUTER UN NOUVEAU TAG en edition uniquement-->
                <md-list-item ng-if="editable">
                    <div class="editableA">
                        <md-input-container class="padding0">
                            <label>Clé</label>
                            <input ng-model="newKV.k_add" ng-lowercase>
                        </md-input-container>
                    </div>
                    <div class="editableB">
                        <md-input-container class="padding0">
                            <label>Valeur</label>
                            <input ng-model="newKV.v_add">
                        </md-input-container>
                    </div>
                    <div class="editableC">
                        <!--Bouton pour ajouter un tag-->
                        <i class="fa fa-plus-circle fa-2x" ng-click="addTag()" style="color:green;" ></i>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </div>

    </md-dialog-content>


    <div class="md-actions" layout="row">
        <span flex></span>


        <md-button ng-show = "!editable" type="button" class="md-button md-primary " ng-click='showEditable()'  >
            <md-icon md-svg-src = 'images/SVG/pencil-square-o.svg' style="font:bold;width:30px;height:30px;"></md-icon>
        </md-button>

        <md-button ng-show="editable && !sw_delete" class="md-raised md-primary" ng-click="ok(geojson)">OK</md-button>
        <md-button ng-show="!sw_delete" class="md-raised" ng-class="editable ? 'md-warn' :'md-primary' " ng-click="cancel()">  {{editable ? 'Annuler' : 'Fermer'}}</md-button>

        <md-switch ng-show="editable && type_action != 'W'" class="md-warn" ng-model="sw_delete" aria-label="Supression de l'objet">
            {{sw_delete ? 'Annuler' : 'Supprimer?'}}

        </md-switch>
        <md-button ng-show="editable && sw_delete" class="md-raised  md-warn" ng-click="deleteElement(geojson)">Supprimer!</md-button>


    </div>

</md-dialog>